html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

main {
    flex: 1;
}

#calculator {
    width: 30rem;
    aspect-ratio: 1;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgray;
    box-shadow: 3px 3px 3px lightgray;
}

#calculatorDisplay {
    background-color: white;
    height: 53.5px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: right;
    padding: 5px 8px;
    margin-bottom: 5px;
    font-size: xx-large;
    overflow-y: scroll;
}

#calculatorButtons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#calculatorButtons>button {
    width: 25%;
    border-radius: 5px;
    background-color: lightgray;
    font-size: large;
}

#calculatorButtons>button[data-value='C'],
#calculatorButtons>button[data-value='0'] {
    width: 50%;
}

#calculatorButtons>button[data-value='/'],
#calculatorButtons>button[data-value='*'],
#calculatorButtons>button[data-value='-'],
#calculatorButtons>button[data-value='+'],
#calculatorButtons>button[data-value='='] {
    background: orange;
}

#calculatorButtons>button[data-value]:hover {
    background-color: gray;
}