:root {
    --bg-dark: oklch(0.9 0 0);
    --bg: oklch(0.95 0 0);
    --bg-light: oklch(1 0 0);
    --txt: oklch(0.05 0 0);
    --txt-muted: oklch(0.3 0 0);
    --accent: oklch(0.75 0.15 60);
    --accent-muted: oklch(0.9 0.15 60);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

main {
    flex: 1;
}

#calculator {
    background-color: var(--bg);
    color: var(--txt);
    width: 30rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.3rem lightgray;
}

#calculatorDisplay {
    background-color: var(--bg-light);
    color: var(--txt);
    height: 6rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    text-align: right;
    padding: 0.5rem 0.8rem;
    margin-bottom: 0.5rem;
    font-size: xx-large;
    overflow-y: scroll;
}

#calculatorButtons {
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#calculatorButtons>button {
    background-color: var(--bg-dark);
    width: 25%;
    border-radius: 0.5rem;
    font-size: 2.4rem;
}

#calculatorButtons>button[data-value='AC'],
#calculatorButtons>button[data-value='0'] {
    width: 50%;
}

#calculatorButtons>button[data-value='/'],
#calculatorButtons>button[data-value='*'],
#calculatorButtons>button[data-value='-'],
#calculatorButtons>button[data-value='+'],
#calculatorButtons>button[data-value='='] {
    background-color: var(--accent);
}

#calculatorButtons>button[data-value]:hover {
    background-color: var(--bg-light);
}

#calculatorButtons>button[data-value='/']:hover,
#calculatorButtons>button[data-value='*']:hover,
#calculatorButtons>button[data-value='-']:hover,
#calculatorButtons>button[data-value='+']:hover,
#calculatorButtons>button[data-value='=']:hover {
    background-color: var(--accent-muted);
}